{% extends 'base.html' %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'cmdb:index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{% url 'cmdb:asset' %}">资产</a></li>
        <li class="active">地址资源</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="address-table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th class="text-center">IP 地址</th>
                      <th class="text-center">可用</th>
                      <th class="text-center">VIP</th>
                      <th class="text-center">所属网络</th>
                      <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in addresses %}
                      <tr class="text-center">
                        <td>{{ address.ip_address }}</td>
                        <td><span class="fa {% if address.is_used %}fa-close{% else %}fa-check{% endif %}"></span></td>
                        <td><span class="fa {% if address.is_vip %}fa-check{% else %}fa-close{% endif %}"></span></td>
                        <td>{{ address.network }}</td>
                        <td>
                            <a href="#" class="btn btn-xs btn-info">详情</a>
                            <a href="#" class="btn btn-xs btn-danger">删除</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th class="text-center">IP 地址</th>
                      <th class="text-center">可用</th>
                      <th class="text-center">VIP</th>
                      <th class="text-center">所属网络</th>
                      <th class="text-center">操作</th>
                    </tr>
                    </tfoot>
                  </table>
            </div>
          </div>
        </div>
        </div>
    </section>
  </div>
{% endblock %}

{% block custom_js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#address-table').DataTable()
  })
</script>
{% endblock %}