{% extends 'base.html' %}

{% block custom_css %}
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'cmdb:index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">资产</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                <a href="{% url 'cmdb:add_asset' %}" class="btn btn-sm btn-primary">添加资产</a>
            </div>
            <div class="box-body">
                <table id="asset-table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th class="text-center">主机名</th>
                      <th class="text-center">IP</th>
                      <th class="text-center">类型</th>
                      <th class="text-center">系统</th>
                      <th class="text-center">系统版本</th>
                      <th class="text-center">内存</th>
                      <th class="text-center">CPU</th>
                      <th class="text-center">磁盘</th>
                      <th class="text-center" style="width:10%">sn</th>
                      <th class="text-center">更新时间</th>
                      <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asset in assets %}
                      <tr class="text-center">
                        <td>{{ asset.hostname }}</td>
                        <td>
                            <ul class="list-unstyled">
                            {% for ip in asset.ip.all %}
                                <li>{{ ip.ip_address }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ asset.get_asset_type_display }}</td>
                        <td>{{ asset.os }}</td>
                        <td>{{ asset.os_version }}</td>
                        <td>{{ asset.memory }}</td>
                        <td>{{ asset.cpu_cores }}</td>
                        <td>{{ asset.disk_total }}</td>
                        <td style="width:10%">{{ asset.sn }}</td>
                        <td>{{ asset.update_date }}</td>
                        <td>
                            <a href="{% url 'cmdb:asset-detail' asset.id %}" class="btn btn-xs btn-info">详情</a>
                            <a href="#" class="btn btn-xs btn-danger">删除</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th class="text-center">主机名</th>
                      <th class="text-center">IP 地址</th>
                      <th class="text-center">资产类型</th>
                      <th class="text-center">操作系统</th>
                      <th class="text-center">系统版本</th>
                      <th class="text-center">内存</th>
                      <th class="text-center">CPU</th>
                      <th class="text-center">磁盘</th>
                      <th class="text-center">资产序列号</th>
                      <th class="text-center">更新时间</th>
                      <th class="text-center">操作</th>
                    </tr>
                    </tfoot>
                  </table>
            </div>
          </div>
        </div>
        </div>
    </section>
  </div>
{% endblock %}

{% block custom_js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#asset-table').DataTable({
    });
  })
</script>
{% endblock %}